<p class="text-center fs-4" [ngStyle]="{'font-weight': 'bold'}">REGISTRO USUARIOS</p>

<form [formGroup]="usuarioFormulario" (ngSubmit)="onSubmit()" [ngStyle]="{'margin-bottom': '230px'}">
    <div class="mb-4">
        <label class="form-label" for="nombre">Nombre de Usuario</label>
        <input id="nombreUsuario" name="nombreUsuario" class="form-control" formControlName="nombreUsuario"
            placeholder="Nombre de Usuario" />
        <p *ngIf="usuarioFormulario.get('nombreUsuario')?.touched && usuarioFormulario.get('nombreUsuario')?.errors?.['required']"
            class="alert alert-danger mt-1">Este campo es requerido</p>
        <p *ngIf="usuarioFormulario.get('nombreUsuario')?.touched && usuarioFormulario.get('nombreUsuario')?.errors?.['minlength']"
            class="alert alert-danger mt-1">Este campo debe tener al menos 3 caracteres</p>
        <p *ngIf="usuarioFormulario.get('nombreUsuario')?.touched && usuarioFormulario.get('nombreUsuario')?.errors?.['maxlength']"
            class="alert alert-danger mt-1">Este campo debe tener máximo 15 caracteres</p>
    </div>
    <div class="mb-4">
        <label class="form-label" for="email">Email</label>
        <input id="email" name="email" class="form-control" formControlName="email" type="email" placeholder="Email" />
        <p *ngIf="usuarioFormulario.get('email')?.touched && usuarioFormulario.get('email')?.errors?.['required']"
            class="alert alert-danger mt-1">Este campo es requerido</p>
        <p *ngIf="usuarioFormulario.get('email')?.touched && usuarioFormulario.get('email')?.errors?.['pattern']"
            class="alert alert-danger mt-1">Este campo no cumple con el formato correcto</p>
    </div>
    <div class="mb-4">
        <label class="form-label" for="contrasena">Contraseña</label>
        <input id="contrasena" name="contrasena" class="form-control" formControlName="contrasena" type="password"
            placeholder="Contraseña" />
        <p *ngIf="usuarioFormulario.get('contrasena')?.touched && usuarioFormulario.get('contrasena')?.errors?.['required']"
            class="alert alert-danger mt-1">Este campo es requerido</p>
        <p *ngIf="usuarioFormulario.get('contrasena')?.touched && usuarioFormulario.get('contrasena')?.errors?.['passwordStrength']"
            class="alert alert-danger mt-1">Este campo no cumple con el formato correcto, debe contener una miniscula,
            mayuscula y un número</p>
    </div>
    <div class="mb-4">
        <label class="form-label" for="telefono">Teléfono</label>
        <input id="telefono" name="telefono" class="form-control" formControlName="telefono" placeholder="Teléfono" />
        <p *ngIf="usuarioFormulario.get('telefono')?.touched && usuarioFormulario.get('telefono')?.errors?.['pattern']"
            class="alert alert-danger mt-1">Este campo tiene el formato incorrecto. Ejemplo: 50677778888</p>
        <p *ngIf="usuarioFormulario.get('telefono')?.touched && usuarioFormulario.get('telefono')?.errors?.['required']"
            class="alert alert-danger mt-1">Este campo es requerido</p>
    </div>
    <div class="text-center">
        <button class="btn btn-success" type="submit" [disabled]="usuarioFormulario.invalid">Enviar</button>
    </div>
</form>