<p class="text-center fs-4" [ngStyle]="{'font-weight': 'bold', 'margin-top': '25px'}">CONTACTO Y SUGERENCIAS</p>

<form (submit)="manejarFormulario($event)">
    <div class="form-group">
        <label for="nombreCliente" [ngStyle]="{'font-weight': 'bold'}">Nombre</label>
        <input type="text" class="form-control" id="nombreCliente" placeholder="Ingrese su nombre"
            (input)="manejarCambioEnInput($event)" name="nombreCliente">
    </div>
    <div class="form-group">
        <label for="correoElectronicoCliente" [ngStyle]="{'font-weight': 'bold'}">Correo Electrónico</label>
        <input type="email" class="form-control" id="correoElectronicoCliente" aria-describedby="emailHelp"
            placeholder="Ingrese su correo electrónico" name="correoElectronicoCliente">
    </div>
    <div class="form-group">
        <label for="seleccionarSupermercado" [ngStyle]="{'font-weight': 'bold'}">Supermercado</label>
        <select id="seleccionarSupermercado" class="form-control" name="seleccionarSupermercado">
            <option>Seleccione un supermercado</option>
            <option *ngFor="let nombre of nombres" value="{{nombre}}">{{nombre}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="mensajeCliente" [ngStyle]="{'font-weight': 'bold'}">Mensaje</label>
        <textarea class="form-control" id="mensajeCliente" rows="3" name="mensajeCliente"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Enviar</button>
</form>

<app-comentarios [cliente]="cliente"></app-comentarios>