<h1>Semana 4</h1>


<h3>Directivas Estructurales</h3>
<h4>ngIf</h4>

<div *ngIf="false">Esto no se pinta</div>
<div *ngIf="true">Esto se renderizará</div>
<div *ngIf="activo">ngIf con propiedad</div>
<div *ngIf="a > b">Expresiones</div>
<div *ngIf="a === b">Expresiones</div>
<div *ngIf="valor === 'si'">comparación</div>
<!-- La siguiente si la pinta porque JS encuentra la función y tiende a truty -->
<div *ngIf="aFunction">Función</div>
<!-- La siguiente no la pinta porque JS ejecuta la función y da false -->
<div *ngIf="aFunction()">Función</div>

<div>FALSY</div>
<div *ngIf="0">0</div>
<div *ngIf="''">0</div>
<div *ngIf="undefined">undefined</div>
<div *ngIf="null">null</div>

<hr>
<h4>ngFor</h4>
<ul>
  <li *ngFor="let nombre of usuarios">
    {{nombre}}
  </li>
</ul>

<hr>
<h4>ngSwitch</h4>
<select title="Colores" (change)="onColorSelectHandler($event)">
  <option>Seleccione un color</option>
  <option *ngFor="let color of colores" value="{{color}}">{{color}}</option>
</select>
<div [ngSwitch]="colorSeleccionado">
  <p *ngSwitchCase="colores[0]">Usted ha seleccionado el color: {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[1]">Usted ha seleccionado el color: {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[2]">Usted ha seleccionado el color: {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[3]">Usted ha seleccionado el color: {{colorSeleccionado}}</p>
  <p *ngSwitchDefault>Usted no ha seleccionado ningún color</p>
</div>

<hr>
<h3>Directivas de atributos</h3>
<h4>ngStyle</h4>
<select title="Colores" (change)="onColorSelectHandler($event)">
  <option>Seleccione un color</option>
  <option *ngFor="let color of colores" value="{{color}}">{{color}}</option>
</select>
<div [ngSwitch]="colorSeleccionado">
  <p *ngSwitchCase="colores[0]" [ngStyle]="{background: colorSeleccionado}">Usted ha seleccionado el color:
    {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[1]" [ngStyle]="{background: colorSeleccionado}">Usted ha seleccionado el color:
    {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[2]" [ngStyle]="{background: colorSeleccionado}">Usted ha seleccionado el color:
    {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[3]" [ngStyle]="{background: colorSeleccionado}">Usted ha seleccionado el color:
    {{colorSeleccionado}}</p>
  <p *ngSwitchDefault>Usted no ha seleccionado ningún color</p>
</div>

<hr>
<h4>ngClass</h4>
<select title="Colores" (change)="onColorSelectHandler($event)">
  <option>Seleccione un color</option>
  <option *ngFor="let color of colores" value="{{color}}">{{color}}</option>
</select>
<div [ngSwitch]="colorSeleccionado">
  <p *ngSwitchCase="colores[0]" [ngClass]="{seleccionado: colorSeleccionado === colores[0]}">Usted ha seleccionado el
    color:
    {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[1]" [ngClass]="{seleccionado: colorSeleccionado === colores[1]}">Usted ha seleccionado el
    color:
    {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[2]" [ngClass]="{seleccionado: colorSeleccionado === colores[2]}">Usted ha seleccionado el
    color:
    {{colorSeleccionado}}</p>
  <p *ngSwitchCase="colores[3]" [ngClass]="{seleccionado: colorSeleccionado === colores[3]}">Usted ha seleccionado el
    color:
    {{colorSeleccionado}}</p>
  <p *ngSwitchDefault>Usted no ha seleccionado ningún color</p>
</div>

<hr>

<h4>ngFor componentes</h4>
<ul>
  <app-usuario *ngFor="let nombre of usuarios" [usuario]="nombre"></app-usuario>
</ul>


<hr>
<h3>SERVICIOS</h3>
<ul>
  <li *ngFor="let color of colorService.coloresExtendidos">{{color}}</li>
</ul>

<ul>
  <li *ngFor="let pokemon of colorService.pokemones">{{pokemon.name}}</li>
</ul>

<hr><app-otro-componente></app-otro-componente>