<footer class="text-center fixed-bottom" [ngStyle]="{'margin-top': '300px'}">
    <div class="footer-divRedes">
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="bi bi-facebook"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="container-fluid footer-divSlogan">
        <div class="row align-items-center justify-content-center">
            <p class="col-4">Calidad y Confianza</p>
            <div class="col-4">
                <img src="../assets/img/3JS_LOGO.jpg" href="#" class="footer-img-icono">
            </div>
            <p class="col-4">Apoyemos el comercio local</p>
        </div>
    </div>
</footer>