<p>counter-page works!</p>

<h2 [ngStyle]="{color: 'red', fontSize: 'larger'}">{{titulo}}</h2>
<!-- La llave cuadrada me permite hablarle al DOM -->

<p [ngClass]="[counter < 1 ? 'negative' : '']">{{titulo}}</p>

<p>{{counter}}</p>

<div>
    <!-- <button (click)="counter = counter + 1">+1</button> -->
    <button (click)="modify(1)">+1</button>
    <button (click)="sub()">-1</button>
    <button (click)="counter = 0">Reset</button>
    <!-- El parentesis escucha el DOM -->
</div>

<input (input)="handleInput($event)" placeholder="Título" type="text">

<form (submit)="handleSubmit($event)">
    <input name="title" placeholder="Título" type="text">
</form>